@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1{
  background-image:url('./kembar1.jpg')
}

.bg2{
  background-image:url('./superfetasi.jpg')
}

.bg3{
  background-image:url('./siam.jpg')
}
/*penyakit*/
.bg4{
  background-image:url('./klamidia.jpg')
}

.bg5{
  background-image:url('./herpes.jpg')
}

.bg6{
  background-image:url('./gra.jpg')
}

.bg7{
  background-image:url('./kutil.jpeg')
}

.bg8{
  background-image:url('./kutu.jpg')
}

.bg9{
  background-image:url('./mono.png')
}

.bg10{
  background-image:url('./sifilis.jpg')
}

.bg11{
  background-image:url('./tri.jpg')
}

.bgmain{
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/bgmain.png');
  background-size: cover;

}
